<h2><%= @group.name %>(<%= @group.users.count %>人)</h2>
<p>グループ説明：<%= @group.introduction %></p>

<table>
    <thead>
        <tr>
          <th>ランキング</th>
          <th>名前</th>
          <th>ポイント数</th>
        </tr>
    </thead>
    <tbody>
        <% @user_ranks.each_with_index do |rank, i| %>
            <tr>
                <td><%= i + 1 %>位</td>
                <td><%= link_to rank.name, user_path(rank.id) %></td>
                <td><%= rank.points.count %></td>
            </tr>
        <% end %>
    </tbody>
</table>