<h2><%= params[:id].to_date.strftime('%Y/%m/%d') %>のEスケ一覧</h2>
<%#= コントローラーで記述したID（日付）strftimeは日付の前につける %>

<ul>
  <% @todolists.each do |todo| %>
    <li>
      <%= link_to todolist_path(todo), method: :patch, data: {confirm: '完了にしますか？'} do %>
        <% if todo.check %>
          <strike><%= todo.list %></strike>
        <% else %>
          <%= todo.list %>
        <% end %>
      <% end %>
      <%= link_to "削除", todolist_path(todo), method: :delete, data: {confirm: '削除しますか？'} %>
    </li>
  <% end %>
</ul>
<%= link_to "mypageへ",mypage_path %>