<div class="container">
  <h2 class="headline">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :名前 %><br />
      <%= f.text_field :name %>
    </div>



    <div class="form-group">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :電話番号 %><br />
      <%= f.text_field :telephone_number %>
    </div>

    <div class="form-group">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :パスワード（確認用） %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= link_to "ログインへ", user_session_path, class: "btn btn-dark" %>

  <%#= render "public/shared/links" %>

</div>
