<h1>image</h1>
<p>会員ID</p>
<%= @user.id %>

<p>登録日</p>
<%= @user.created_at %>

<p>名前</p>
<%= @user.name %>

<p>メールアドレス</p>
<%= @user.email %>

<p>電話番号</p>
<%= @user.telephone_nember %>


<%= link_to "管理者TOPへ", admin_root_path %>