<h1>image</h1>
<label>会員ID</label>
<p class="profile"></p><%= @user.id %>

<label>登録日</label>
<p class="profile"></p><%= @user.created_at %>

<label>名前</label>
<p class="profile"></p><%= @user.name %>

<label>メールアドレス</label>
<p class="profile"></p><%= @user.email %>

<label>電話番号</label>
<p class="profile"></p><%= @user.telephone_nember %>


<%= link_to "管理者TOPへ", admin_root_path %>


