<div class="container">
  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-12">
      <h2 class="title">Profile edit</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-5">
      <%= image_tag @user.get_profile_image(350,350) %>
    </div>
    <div class="col-md-12 col-lg-7">
      <%= form_with model: @user, url: mypage_path do |f| %>


       <div class="form-group">
        <%= f.label :アイコン %><br>
        <%= f.file_field :profile_image,accept: "image/*" %><br>
       </div>

       <div class="form-group">
        <%= f.label :名前 %><br>
        <%= f.text_field :name %><br>
       </div>

       <div class="form-group">
        <%= f.label :自己紹介 %><br>
        <%= f.text_area :introduction %><br>
       </div>

       <div class="form-group">
        <%= f.label :メールアドレス %><br>
        <%= f.text_field :email %><br>
       </div>

       <div class="form-group">
        <%= f.label :電話番号 %><br>
        <%= f.text_field :telephone_number %><br>
        <br>
       </div>
        <%= f.submit "編集する", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 text-center">
      <%= link_to "Esukeを退会する", unsubscribe_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>

