<%= flash[:notice] %><br>


<%= image_tag @user.get_profile_image(100,100) %>

<p>名前</p>
<%= @user.name %>

<p>自己紹介</p>
<%= @user.introduction %>

<h2>新規登録</h2>
<%= form_with model: @todo, url: todolists_path do |f| %>
  <%= f.text_field :list %>
  <%= f.submit "書き込み" %>
<% end %>
<small>※予定は自動的に翌日にセットされます。</small>

<h2>現在のEスケポイント</h2>
<h1><%= @user.points.count %></h1>
<%= link_to "Eスケポイント履歴を見る",points_path %>

<h2>カレンダー</h2>
<%= month_calendar(attribute: :date, end_attribute: :date, events: @todolists) do |date, todos| %>
<%#= attribute: :開始時間の属性名, end_attribute: :終了時間の属性名をデータカラムに持たせ%>
  <%= link_to todolist_path(date) do %>
    <%= date.day %>
  <% end %>
  <% todos.each do |todo| %>
    <div>
      <% if todo.check %>
        <strike><%= todo.list %></strike>
      <% else %>
        <%= todo.list %>
      <% end %>
    </div>
  <% end %>
<% end %>

<h2>ランキング</h2>

<table>
  <thead>
    <tr>
      <th>ランキング</th>
      <th>名前</th>
      <th>ポイント数</th>
    </tr>
  </thead>
  <tbody>
    <% @all_ranks.each_with_index do |rank, i| %>
      <tr>
        <th><%= i + 1 %>位</th>
        <th><%= rank.name %></th>
        <th><%= rank.points.count %></th>
      <tr>
    <% end %>
  </tbody>
</table>



