<div class="container">
  <%= flash[:notice] %><%= flash[:alert] %><br>
  <div class="row">
    <div class="col-12">
      <h1 class="headline">Mypage</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="title">Profile</h2>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="image-tag">
        <%= image_tag @user.get_profile_image(400,400) %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-7">
      <label>名前</label><br>
      <p class="profile"><%= @user.name %></p>

      <label>自己紹介</label><br>
      <p class="profile"><%= @user.introduction %></p>

      <label>現在のEスケポイント</label><br>
      <p class="profile"><%= @user.points.count %></p>

      <p><%= link_to "プロフィールを編集する", edit_user_mypage_path,class: "btn btn-dark" %></p>
      <p><%= link_to "Eスケポイント履歴を見る",points_path, class: "btn btn-dark" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if Todolist.where(date: Date.current.in_time_zone('Tokyo') + 1.days,
              user_id: current_user.id
            ).count < 5 %>
      <h2 class="title">New post</h2>
      <%= form_with model: @todo, url: todolists_path do |f| %>
        <%= f.text_field :list %>
        <%= f.submit "書き込み", class: "btn btn-dark" %>
      <% end %>
      <% else %>
      <h3>※１日の投稿は５件までです。明日も1日頑張りましょう！</h3>
      <% end %>
      <small>※予定は自動的に翌日にセットされます。</small>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="title">Calendar</h2>
      <%= month_calendar(attribute: :date, end_attribute: :date, events: @todolists) do |date, todos| %>
      <%#= attribute: :開始時間の属性名, end_attribute: :終了時間の属性名をデータカラムに持たせ%>
        <%= link_to todolist_path(date) do %>
          <%= date.day %>
        <% end %>

          <% todos.each do |todo| %>
           <li>
              <% if todo.check %>
                <strike><%= todo.list %></strike>
              <% else %>
                <%= todo.list %>
              <% end %>
            </li>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="title">Point ranking</h2>
      <table class="table">
        <% @all_ranks.each_with_index do |rank, i| %>
          <tr>
            <th class="ranking-number"><%= i + 1 %>位</th>
            <th><%= link_to rank.name, user_path(rank.id),class: "link-black" %></th>
            <th class="ranking-point"><%= rank.points.count %>point</th>
          <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


