<h1>image</h1>

<p>名前</p>
<%= @user.name %>

<p>自己紹介</p>
<%= @user.introduction %>



<h2>カレンダー投稿</h2>

<%= month_calendar do |date| %>
  <%= link_to new_todolist_path do %>
  　<%= date.day %>
  <% end %>
<% end %>

<h2>ランキング</h2>

<table>
  <thead>
    <tr>
      <th>ランキング</th>
      <th>名前</th>
      <th>ポイント数</th>
    </tr>
  </thead>
</table>



