<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="title">profile show</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-5">
      <%= image_tag @user.get_profile_image(350,350),size: "350x350" %>
    </div>
    <div class="col-sm-12 col-lg-7">
      <label>名前</label>
      <p class="profile"><%= @user.name %></p>

      <label>自己紹介</label>
      <p class="profile"><%= @user.introduction %></p>

      <label>ポイント</label>
      <p class="profile"><%= @user.points.count %>ポイント</p>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= link_to "マイページへ", mypage_path, class: "btn btn-dark" %>
      <%= link_to "グループ一覧へ", groups_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>

