<!DOCTYPE html>
<html>
  <head>
    <title>Esuke</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>Eスケ</h2>


      <ul class="navbar">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", mypage_path %></li>
          <li><%= link_to "プロフィール編集", mypage_show_path %></li>
          <li><%= link_to "友達一覧",users_path %></li>
          <li><%= link_to "about",about_path %> </li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "退会", unsubscribe_path %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "top",admin_root_path %></li>
          <li><%= link_to "ログアウト",destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン" ,user_session_path %></li>
          <li><%= link_to "新規登録" ,new_user_registration_path %></li>
          <li><%= link_to "about", about_path %></li>
        <% end %>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
