<!DOCTYPE html>
<html>
  <head>
    <title>Esuke</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light h-100">
      <%# navbar-expand-lg lg以上でナビバー展開 %>
      <%# テキストとアイコンを暗色 %>
      <%# bg-dark背景色を暗色 %>
        <div class="container h-100">
          <div class="w-100 d-flex align-self-start justify-content-between">
            <div>
              <a class="navbar-brand" href="/">
                <span class="subtitle">至高の”スケジュール”を最高の”仲間”と</span><br>
                <span class="esuke">Esuke</span>
              </a>
            </div>
            <div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto d-flex flex-column justify-content-center align-self-center">
              <% if user_signed_in? %>
                <li class="nav-item"><%= link_to "Mypage", mypage_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Gruop", groups_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %> </li>
                <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
              <% elsif admin_signed_in? %>
                <li class="nav-item"><%= link_to "Top",admin_root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Log out",destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
              <% else %>
                <li class="nav-item"><%= link_to "Top" ,root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Log in" ,user_session_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Sign up" ,new_user_registration_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "about", about_path, class: "nav-link" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    &nbsp;
    <main>
      <%= yield %>
    </main>
    &nbsp;

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p class="footer-logo">Esuke</p>
          </div>
        </div>
      </div>

    </footer>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
  </body>
</html>
